
.icon-chart-pie:before { content: '\e800'; } /* '' */
.icon-cog-outline:before { content: '\e801'; } /* '' */
.icon-database:before { content: '\e802'; } /* '' */
.icon-doc-new:before { content: '\e803'; } /* '' */
.icon-list-nested:before { content: '\e804'; } /* '' */
.icon-user-add-outline:before { content: '\e805'; } /* '' */
.icon-thumbs-up:before { content: '\e806'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
